.row {
    display: flex;
    justify-content: space-around;
}

.img__inner {
    margin-top: 15px;
}

.updatebtn,
.filechoose {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

.updatebtn:hover,
.filechoose:hover {
    background-color: #4095c6;
}

.prof__img {
    min-width: 28vh;
}

table td {
    background-color: #4095c6;
    color: black;
}